In [2]:
import smogn
import pandas as pd

In [3]:
df = pd.read_csv('../../dataset/base_ball_train.csv')
df_longhit = df.iloc[:, 4:-2]
df_onbase = pd.concat([df.iloc[:, 4:-3], df.iloc[:,-2]], axis=1)

In [5]:
baseball_longhit_smogn = smogn.smoter(
    data = df_longhit, 
    y = "장타",
    k =  9,
    samp_method = 'extreme'
)

dist_matrix: 100%|##########| 415/415 [01:46<00:00,  3.91it/s]
synth_matrix: 100%|##########| 415/415 [00:11<00:00, 35.60it/s]

In [9]:
baseball_onbase_smogn = smogn.smoter(
    data = df_onbase, 
    y = "출루",
    k =  9,
    samp_method = 'extreme'
)

dist_matrix: 100%|##########| 525/525 [03:30<00:00,  2.49it/s]
synth_matrix: 100%|##########| 525/525 [00:03<00:00, 136.67it/s]
r_index: 100%|##########| 52/52 [00:00<00:00, 246.33it/s]
dist_matrix: 100%|##########| 387/387 [01:30<00:00,  4.29it/s]
synth_matrix: 100%|##########| 387/387 [00:05<00:00, 69.71it/s]
r_index: 100%|##########| 309/309 [00:01<00:00, 271.67it/s]

In [8]:
baseball_longhit_smogn.reset_index(drop=True)

,타수,득점,안타,2타,3타,홈런,루타,타점,도루,도실,...,키움,두산,한화,NC,롯데,삼성,SSG,홈경기수,원정경기수,장타
0,71,16,15,1,0,3,26,10,1,0,...,0.594793,0.594793,2.000000,1.892190,3.297397,1.297397,2.702603,10.000000,8.297397,0.656989
1,72,15,19,4,0,1,28,7,3,0,...,2.304568,2.304568,2.304568,3.695432,3.390864,1.390864,1.390864,9.695432,9.609136,0.619003
2,72,11,19,4,0,1,28,7,0,0,...,2.808376,2.808376,2.808376,3.191624,2.383247,0.383247,0.383247,9.191624,10.616753,0.619003
3,71,16,19,4,0,1,28,7,4,0,...,2.147612,2.147612,1.704776,3.852388,3.852388,1.704776,2.147612,10.295224,8.704776,0.648388
4,75,16,21,4,0,1,31,8,3,0,...,2.399520,3.598078,1.200961,2.401922,3.600480,2.799039,1.200961,10.000000,9.399520,0.672187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7082,64,13,20,1,0,5,36,19,1,2,...,3.000000,4.000000,3.000000,2.000000,0.000000,0.000000,0.000000,10.000000,7.000000,0.400000
7083,46,8,11,1,0,1,15,3,1,0,...,3.000000,0.000000,0.000000,0.000000,3.000000,3.000000,0.000000,6.000000,6.000000,0.600000
7084,69,7,18,4,0,1,25,9,0,0,...,3.000000,2.000000,0.000000,3.000000,0.000000,3.000000,3.000000,8.000000,10.000000,0.381818
7085,55,4,14,2,1,1,21,9,0,1,...,3.000000,0.000000,0.000000,0.000000,5.000000,2.000000,0.000000,4.000000,10.000000,0.411765
7086,68,8,19,3,0,2,28,10,2,0,...,3.000000,2.000000,0.000000,3.000000,0.000000,0.000000,3.000000,11.000000,8.000000,0.421053