In [2]:
import smogn
import pandas as pd

In [25]:
df = pd.read_csv('../../dataset/base_ball_train.csv')
df_longhit = df.iloc[:, 4:-2]
df_onbase = pd.concat([df.iloc[:, 4:-3], df.iloc[:,-2]], axis=1)

In [26]:
df_longhit

,타수,득점,안타,2타,3타,홈런,루타,타점,도루,도실,...,키움,두산,한화,NC,롯데,삼성,SSG,홈경기수,원정경기수,장타
0,6,1,1,0,0,0,1,0,0,0,...,0.0,1.0,0.0,2.0,0.0,0.0,0.0,1.0,3.0,0.266667
1,15,2,3,1,0,0,4,0,0,0,...,0.0,0.0,3.0,0.0,0.0,1.0,0.0,3.0,3.0,0.440678
2,59,5,18,5,0,1,26,9,0,0,...,2.0,6.0,0.0,3.0,0.0,0.0,0.0,9.0,8.0,0.361702
3,47,7,11,1,1,1,17,7,0,0,...,2.0,1.0,4.0,3.0,0.0,3.0,3.0,6.0,10.0,0.235294
4,15,6,3,0,0,0,3,0,2,0,...,3.0,4.0,3.0,0.0,0.0,3.0,0.0,11.0,6.0,1.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4134,10,1,3,1,0,0,4,0,0,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,0.326087
4135,46,8,11,1,0,1,15,3,1,0,...,3.0,0.0,0.0,0.0,3.0,3.0,0.0,6.0,6.0,0.600000
4136,69,7,18,4,0,1,25,9,0,0,...,3.0,2.0,0.0,3.0,0.0,3.0,3.0,8.0,10.0,0.381818
4137,55,4,14,2,1,1,21,9,0,1,...,3.0,0.0,0.0,0.0,5.0,2.0,0.0,4.0,10.0,0.411765
4138,68,8,19,3,0,2,28,10,2,0,...,3.0,2.0,0.0,3.0,0.0,0.0,3.0,11.0,8.0,0.421053

In [28]:
baseball_longhit_smogn = smogn.smoter(
    data = df_longhit, 
    y = "장타",
    k =  9,
    samp_method = 'extreme'
)

dist_matrix: 100%|##########| 415/415 [02:11<00:00,  3.17it/s]
synth_matrix: 100%|##########| 415/415 [00:14<00:00, 29.28it/s]

In [32]:
df1 = pd.read_csv("../../dataset/total_baseball_PCODE&배럴타구추가.csv")
df1.head()

,NAME,날짜,상대,결과,점수,타순,P,선발,타수,득점,...,장타,OPS,투구,avLI,RE24,WPA,year,Date,PCODE,barrel
0,정훈,429,한화,W,4:3,7,3B,1,2,0,...,0.000,0.000,8,1.51,-0.72,-0.046,2018,20180429,60523.0,0.0
1,정훈,502,KIA,L,6:12,6,1B,1,4,0,...,0.250,0.361,12,1.09,-0.33,-0.032,2018,20180502,60523.0,0.0
2,정훈,504,@SK,L,4:5,9,PH,0,1,1,...,0.800,1.073,3,0.44,1.00,0.025,2018,20180504,60523.0,1.0
3,정훈,508,@LG,W,4:2,5,PH,0,1,0,...,0.750,1.058,6,0.49,-0.26,-0.013,2018,20180508,60523.0,0.0
4,정훈,510,@LG,W,7:2,9,PH,0,1,0,...,0.667,0.979,3,0.02,-0.26,-0.001,2018,20180510,60523.0,1.0

In [36]:
df1.isnull().sum()

NAME         0
날짜           0
상대           0
결과           0
점수           0
타순           0
P            0
선발           0
타수           0
득점           0
안타           0
2타           0
3타           0
홈런           0
루타           0
타점           0
도루           0
도실           0
볼넷           0
사구           0
고4           0
삼진           0
병살           0
희타           0
희비           0
타율           0
출루           0
장타           0
OPS          0
투구           0
avLI         0
RE24         0
WPA          0
year         0
Date         0
PCODE       73
barrel    2202
dtype: int64