In [2]:
import pandas as pd

In [42]:
df1 = pd.read_csv('../raw/2021/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_선수_2021.csv', encoding='euc-kr')
df2 = pd.read_csv('../raw/2020/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_선수_2020.csv', encoding='euc-kr')
df3 = pd.read_csv('../raw/2019/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_선수_2019.csv', encoding='euc-kr')
df4 = pd.read_csv('../raw/2018/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_선수_2018.csv', encoding='euc-kr')
df =  pd.concat([df1,df2,df3,df4])
df = df.drop_duplicates(["NAME", "PCODE"])
df = df[df['POSITION'] != '투']
df.head()

   GYEAR  PCODE NAME T_ID POSITION  AGE_VA     MONEY
3   2021  50054  천성호   KT        내      23    4000만원
4   2021  50066  강현우   KT        포      20    3000만원
5   2021  50092  윤준혁   KT        내      19    3000만원
7   2021  50150  손호영   LG        내      26    3700만원
9   2021  50165  라모스   LG        내      26  600000달러

In [44]:
for pcode in df['PCODE'].unique():
    if len(df[df['PCODE'] == pcode]['NAME']) >= 2:
        print(pcode)

62895
63559
63905
64717
65514
60100
67207

In [51]:
df[df['PCODE'] == 67207]['NAME']

398    이유찬
328    이병휘
Name: NAME, dtype: object

In [33]:
for name in df['NAME'].unique():
    if len(df[df['NAME'] == name]['PCODE']) >= 2:
        print(name)

이주형
김성민
김재현
김민혁
김민수
김지수
이재원
김주형
이명기
이원석
박준혁

In [23]:
df[df['NAME'] == "이주형"]['PCODE']

10    50167
84    51302
Name: PCODE, dtype: int64

In [56]:
df5 = pd.read_csv('../../dataset/배럴타구여부추가.csv')
df5[df5['NAME'] == '이재원']['PCODE'].unique()

array([76812, 68106])

In [64]:
(df5['NAME'] == '이재원')

array(['SK', 'LG'], dtype=object)

In [65]:
df1 = pd.read_csv('../raw/선수정보_2018.csv')
df2 = pd.read_csv('../raw/선수정보_2019.csv')
df3 = pd.read_csv('../raw/선수정보_2020.csv')
df4 = pd.read_csv('../raw/선수정보_2021.csv')

In [66]:
df1['year'] = 2018
df2['year'] = 2019
df3['year'] = 2020
df4['year'] = 2021

In [67]:
df = pd.concat([df1,df2,df3,df4]).reset_index().drop('index', axis=1)
df.head()

,이름,날짜,상대,결과,점수,타순,P,선발,타수,득점,...,희비,타율,출루,장타,OPS,투구,avLI,RE24,WPA,year
0,정훈,04-29,한화,W,4:3,7,3B,1,2,0,...,1,0.000,0.000,0.000,0.000,8,1.51,-0.72,-0.046,2018
1,정훈,05-02,KIA,L,6:12,6,1B,1,4,0,...,0,0.125,0.111,0.250,0.361,12,1.09,-0.33,-0.032,2018
2,정훈,05-04,@SK,L,4:5,9,PH,0,1,1,...,0,0.300,0.273,0.800,1.073,3,0.44,1.00,0.025,2018
3,정훈,05-08,@LG,W,4:2,5,PH,0,1,0,...,0,0.333,0.308,0.750,1.058,6,0.49,-0.26,-0.013,2018
4,정훈,05-10,@LG,W,7:2,9,PH,0,1,0,...,0,0.333,0.313,0.667,0.979,3,0.02,-0.26,-0.001,2018

In [70]:
df.iloc[0:15].groupby("이름").sum()[]

,타순,선발,타수,득점,안타,2타,3타,홈런,루타,타점,...,희비,타율,출루,장타,OPS,투구,avLI,RE24,WPA,year
이름,,,,,,,,,,,,,,,,,,,,,
정훈,85,7,34,9,11,4,0,3,24,7,...,2,3.877,3.925,7.835,11.76,137,8.97,0.7,-0.147,30270