In [85]:
import pandas as pd
import numpy as np
import os
import re

# 데이터 불러오기

In [86]:
df1 = pd.read_csv('../raw/선수정보_2018.csv')
df2 = pd.read_csv('../raw/선수정보_2019.csv')
df3 = pd.read_csv('../raw/선수정보_2020.csv')
df4 = pd.read_csv('../raw/선수정보_2021.csv')

In [87]:
#각 타구별로 선수이름과 배럴타구여부를 붙인 데이터
df5 = pd.read_csv('../../dataset/배럴타구여부추가.csv')
df5.tail()

,PCODE,GYEAR,G_ID,PIT_ID,T_ID,INN,HIT_VEL,HIT_ANG_VER,HIT_RESULT,PIT_VEL,STADIUM,NAME,barrel,Date
120740,79608,2021,20210709LTSS0,210709_223300,LT,11,141.40,25.8,플라이,135.88,대구,안치홍,True,20210709
120741,79608,2021,20210710LTSS0,210710_182636,LT,2,120.76,17.3,1루타,121.50,대구,안치홍,False,20210710
120742,79608,2021,20210710LTSS0,210710_205259,LT,4,156.86,11.4,2루타,126.40,대구,안치홍,True,20210710
120743,79608,2021,20210711LTSS0,210711_181318,LT,4,122.34,69.3,플라이,129.76,대구,안치홍,False,20210711
120744,79608,2021,20210711LTSS0,210711_185214,LT,6,107.67,85.8,파울플라이,136.17,대구,안치홍,False,20210711

In [88]:
#연도정보 추가 및 concat 수행
df1['year'] = 2018
df2['year'] = 2019
df3['year'] = 2020
df4['year'] = 2021

In [89]:
df = pd.concat([df1,df2,df3,df4]).reset_index().drop('index', axis=1)
df.head()

,이름,날짜,상대,결과,점수,타순,P,선발,타수,득점,...,희비,타율,출루,장타,OPS,투구,avLI,RE24,WPA,year
0,정훈,04-29,한화,W,4:3,7,3B,1,2,0,...,1,0.000,0.000,0.000,0.000,8,1.51,-0.72,-0.046,2018
1,정훈,05-02,KIA,L,6:12,6,1B,1,4,0,...,0,0.125,0.111,0.250,0.361,12,1.09,-0.33,-0.032,2018
2,정훈,05-04,@SK,L,4:5,9,PH,0,1,1,...,0,0.300,0.273,0.800,1.073,3,0.44,1.00,0.025,2018
3,정훈,05-08,@LG,W,4:2,5,PH,0,1,0,...,0,0.333,0.308,0.750,1.058,6,0.49,-0.26,-0.013,2018
4,정훈,05-10,@LG,W,7:2,9,PH,0,1,0,...,0,0.333,0.313,0.667,0.979,3,0.02,-0.26,-0.001,2018

In [90]:
len(df)

63452

In [91]:
#Merge를 위해 Date 정보 추가
df['날짜'] = df['날짜'].str.replace("-", "")
df['Date'] = df['year'].astype('str') + df['날짜']

In [92]:
#동명이인이 존재하므로 해당선수에 대해 구분할 수 있게 정보 추가
df[df['이름'].apply(lambda x : bool(re.match(string = x, pattern='[a-zA-Z]')))]['이름'].unique()

array(['WO김재현', 'SK김재현', 'SS김민수', 'LT김민수'], dtype=object)

In [93]:
wo_jae_index = df5[(df5['NAME'] == '김재현') & (df5['T_ID'] == 'WO')].index
sk_jae_index = df5[(df5['NAME'] == '김재현') & (df5['T_ID'] == 'SK')].index
ss_min_index = df5[(df5['NAME'] == '김민수') & (df5['T_ID'] == 'SS')].index
lt_min_index = df5[(df5['NAME'] == '김민수') & (df5['T_ID'] == 'LT')].index

In [94]:
df5.loc[wo_jae_index, 'NAME'] = 'WO김재현'
df5.loc[sk_jae_index, 'NAME'] = 'SK김재현'
df5.loc[ss_min_index, 'NAME'] = 'SS김민수'
df5.loc[lt_min_index, 'NAME'] = 'LT김민수'

In [95]:
#선수별/날짜별 배럴타구 생산 개수 계산
df5 = df5[['PCODE', 'NAME', 'barrel', 'Date']]
df5['Date'] = df5['Date'].astype('str')

In [96]:
df5_barrel = df5.groupby(['PCODE', 'NAME','Date']).sum().reset_index()
df5_barrel

       PCODE NAME      Date  barrel
0      50054  천성호  20200603       0
1      50054  천성호  20200604       0
2      50054  천성호  20200607       0
3      50054  천성호  20200611       0
4      50054  천성호  20200613       0
...      ...  ...       ...     ...
49665  99810  이진영  20181006       0
49666  99810  이진영  20181009       0
49667  99810  이진영  20181010       1
49668  99810  이진영  20181012       2
49669  99810  이진영  20181013       0

[49670 rows x 4 columns]

In [97]:
#결측치를 채우기 위해 {PCODE : 이름} dict 생성 
pcode_dict = dict(df5.drop_duplicates(subset=['PCODE', 'NAME']).iloc[:, :2].values)
#동명이인 반영
pcode_dict[64717] = '지성준'
pcode_dict[62895] = '한동민'
pcode_dict[63559] = '백민기'

In [98]:
pcode_dict = {name : key for key, name in pcode_dict.items()}
pcode_dict['지시완'] = 64171
pcode_dict['한유섬'] = 62895
pcode_dict['백동훈'] = 63559

In [99]:
df = df.rename(columns={'이름':'NAME'})

In [100]:
#날짜별 배럴타구 개수 데이터를 기존 월별 선수 성적 데이터에 MERGE
df_merge = df.merge(df5_barrel, how='left', on=["NAME", "Date"])

In [101]:
len(df)

63452

In [102]:
len(df_merge)

63457

In [103]:
#동명이인으로 추정되는 이재원이 등장하므로 제거
df_merge = df_merge[~(df_merge['PCODE'] == 68106)]

In [104]:
len(df_merge)

63452

In [105]:
#MERGE시에 해당 경기 타구가 없는 선수의 경우 PCODE가 누락되므로 채워줌
for name, pcode in pcode_dict.items():
    idx = df_merge[df_merge['NAME'] == name].index
    df_merge.loc[idx, "PCODE"] = pcode

In [106]:
#마찬가지로 해당 경기에 타구가 없다면 barrel 타구가 none이 들어가므로 0으로 채우기
null_idx = df_merge[df_merge['Date'].apply(lambda x : (x <= '20210711')) & df_merge["barrel"].isnull()].index
df_merge.loc[null_idx, 'barrel'] = 0

In [107]:
df_merge[df_merge['PCODE'].isnull()]

Empty DataFrame
Columns: [NAME, 날짜, 상대, 결과, 점수, 타순, P, 선발, 타수, 득점, 안타, 2타, 3타, 홈런, 루타, 타점, 도루, 도실, 볼넷, 사구, 고4, 삼진, 병살, 희타, 희비, 타율, 출루, 장타, OPS, 투구, avLI, RE24, WPA, year, Date, PCODE, barrel]
Index: []

[0 rows x 37 columns]

In [95]:
df_merge.to_csv('../../dataset/total_baseball_PCODE&배럴타구추가.csv', index=False, 
                encoding='utf-8-sig')