In [2]:
import smogn
import pandas as pd

In [4]:
d = pd.read_csv('../dataset/baseball_train_final4.csv')
d

,NAME,PCODE,Date,선발,타수,득점,안타,2타,3타,홈런,...,한화,NC,롯데,삼성,SSG,홈경기수,원정경기수,장타,출루,OPS
0,LT김민수,67504,2021-04-18,4,17,2,3,1,0,0,...,3.0,0.0,0.0,1.0,0.0,4.0,4.0,0.419355,0.323529,0.742884
1,LT김민수,67504,2021-05-12,8,31,2,8,2,0,1,...,0.0,3.0,0.0,0.0,0.0,4.0,6.0,0.411765,0.342105,0.753870
2,LT김민수,67504,2021-06-05,17,68,9,19,4,1,1,...,4.0,3.0,0.0,3.0,0.0,11.0,7.0,0.153846,0.266667,0.420513
3,SK김재현,76869,2018-05-15,5,15,6,3,0,0,0,...,3.0,0.0,0.0,3.0,0.0,11.0,6.0,0.428571,0.500000,0.928571
4,SK김재현,76869,2018-08-19,0,2,3,1,0,1,0,...,0.0,0.0,1.0,0.0,0.0,3.0,1.0,0.480000,0.433333,0.913333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4091,황재균,76313,2021-06-29,8,32,8,11,1,0,1,...,0.0,0.0,0.0,1.0,0.0,3.0,5.0,0.416667,0.307692,0.724359
4092,황재균,76313,2021-07-23,5,24,5,6,1,0,1,...,0.0,0.0,0.0,3.0,0.0,3.0,3.0,0.486111,0.400000,0.886111
4093,힐리,51725,2021-04-18,15,61,4,15,2,1,1,...,0.0,1.0,3.0,2.0,0.0,8.0,8.0,0.464286,0.360656,0.824941
4094,힐리,51725,2021-05-12,15,56,7,17,3,0,2,...,0.0,1.0,2.0,0.0,3.0,10.0,6.0,0.368421,0.271605,0.640026
4095,힐리,51725,2021-06-05,19,76,10,17,2,0,3,...,0.0,2.0,4.0,3.0,3.0,13.0,8.0,0.583333,0.307692,0.891026

In [245]:
d_smogn_base = pd.DataFrame([], columns = ['NAME', 'PCODE', 'Date', '선발', '타수', '득점', '안타', '2타', '3타', '홈런', '루타',
       '타점', '도루', '도실', '볼넷', '사구', '고4', '삼진', '병살', '희타', '희비', '투구',
       'barrel', '타율', 'LG', 'KIA', 'KT', '키움', '두산', '한화', 'NC', '롯데', '삼성',
       'SSG', '홈경기수', '원정경기수', '장타', '출루', 'OPS'])

for i in range(1,10):
    d_smogn_base = pd.concat([d_smogn_base,smogn.smoter(
    
    ## main arguments
    data =d,           ## pandas dataframe
    y = '출루',          ## string ('header name')
    k = i,                    ## positive integer (k < n)
    samp_method = 'extreme',  ## string ('balance' or 'extreme')

    ## phi relevance arguments
    rel_thres = 0.80,         ## positive real number (0 < R < 1)
    rel_method = 'auto',      ## string ('auto' or 'manual')
    rel_xtrm_type = 'high',   ## string ('low' or 'both' or 'high')
    rel_coef = 2.25           ## positive real number (0 < R)
)])
d_smogn_base = d_smogn_base.drop_duplicates()
d_smogn_base = d_smogn_base[(d_smogn_base.장타 != 0) & (d_smogn_base.출루 != 0)& (d_smogn_base.OPS != 0)]
d_smogn_base = d_smogn_base[d_smogn_base.타수 >= 30]
d_smogn_base

dist_matrix: 100%|#####################################################################| 79/79 [00:04<00:00, 17.14it/s]
synth_matrix: 100%|####################################################################| 79/79 [00:20<00:00,  3.80it/s]
r_index: 100%|########################################################################| 63/63 [00:00<00:00, 180.99it/s]
dist_matrix: 100%|#####################################################################| 79/79 [00:04<00:00, 16.99it/s]
synth_matrix: 100%|####################################################################| 79/79 [00:20<00:00,  3.82it/s]
r_index: 100%|########################################################################| 63/63 [00:00<00:00, 183.63it/s]
dist_matrix: 100%|#####################################################################| 79/79 [00:04<00:00, 17.20it/s]
synth_matrix: 100%|####################################################################| 79/79 [00:20<00:00,  3.82it/s]
r_index: 100%|########################################################################| 63/63 [00:00<00:00, 184.68it/s]
dist_matrix: 100%|#####################################################################| 79/79 [00:04<00:00, 17.27it/s]
synth_matrix: 100%|####################################################################| 79/79 [00:20<00:00,  3.81it/s]
r_index: 100%|########################################################################| 63/63 [00:00<00:00, 183.08it/s]
dist_matrix: 100%|#####################################################################| 79/79 [00:04<00:00, 17.18it/s]
synth_matrix: 100%|####################################################################| 79/79 [00:20<00:00,  3.84it/s]
r_index: 100%|########################################################################| 63/63 [00:00<00:00, 175.96it/s]
dist_matrix: 100%|#####################################################################| 79/79 [00:04<00:00, 17.28it/s]
synth_matrix: 100%|####################################################################| 79/79 [00:20<00:00,  3.82it/s]
r_index: 100%|########################################################################| 63/63 [00:00<00:00, 181.50it/s]
dist_matrix: 100%|#####################################################################| 79/79 [00:04<00:00, 17.04it/s]
synth_matrix: 100%|####################################################################| 79/79 [00:20<00:00,  3.83it/s]
r_index: 100%|########################################################################| 63/63 [00:00<00:00, 178.44it/s]
dist_matrix: 100%|#####################################################################| 79/79 [00:04<00:00, 17.13it/s]
synth_matrix: 100%|####################################################################| 79/79 [00:20<00:00,  3.79it/s]
r_index: 100%|########################################################################| 63/63 [00:00<00:00, 182.02it/s]
dist_matrix: 100%|#####################################################################| 79/79 [00:04<00:00, 16.78it/s]
synth_matrix: 100%|####################################################################| 79/79 [00:20<00:00,  3.82it/s]
r_index: 100%|########################################################################| 63/63 [00:00<00:00, 182.02it/s]

,NAME,PCODE,Date,선발,타수,득점,안타,2타,3타,홈런,...,한화,NC,롯데,삼성,SSG,홈경기수,원정경기수,장타,출루,OPS
147,박준태,61173,2018-08-02,19,75,9,22,2,0,0,...,0.000000,2.020308,2.013896,2.985719,2.986897,7.960695,11.046643,0.251356,0.573148,0.805402
148,박준태,61151,2018-08-02,19,74,9,22,2,0,0,...,0.000000,1.989388,1.996165,3.025339,2.989394,7.989696,11.001662,0.249871,0.572458,0.829346
149,박준태,61101,2018-08-02,19,75,10,21,1,0,0,...,0.000000,1.992025,2.033057,2.972335,2.996709,7.990044,10.943432,0.267661,0.568206,0.833749
150,박준태,61017,2018-08-02,19,75,10,21,1,0,0,...,0.005303,1.982870,1.975081,2.985701,3.036615,8.043646,10.964805,0.245097,0.569522,0.822168
151,박준태,61394,2018-08-02,19,75,9,21,1,0,0,...,0.000000,1.990542,2.038312,2.994418,3.007939,7.969844,10.917594,0.262309,0.574141,0.826856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3917,박준태,69088,2018-08-02,16,68,5,19,2,0,2,...,3.020505,0.024734,3.003860,1.967223,2.007959,10.093461,7.993764,0.656791,0.669758,1.332743
3919,박준태,62835,2018-08-02,17,57,10,22,7,0,0,...,1.974752,0.000000,3.008665,3.041748,2.973348,9.960499,9.009471,0.767607,0.581263,1.349201
3925,박준태,73981,2018-08-02,9,35,3,5,1,0,0,...,0.996817,1.980205,1.006359,0.955673,3.023074,5.009411,7.989021,0.495289,0.598530,1.105886
3927,박준태,73466,2018-08-02,16,64,8,16,5,0,0,...,1.983632,2.982743,3.041975,0.000000,2.000905,8.022839,9.092028,0.325785,0.604612,0.930846
3932,박준태,64449,2018-08-02,14,43,6,12,3,0,2,...,0.027890,2.970940,1.996209,0.000000,2.987377,9.011158,8.910803,1.519039,0.997863,2.497576

In [248]:
d_smogn_longhit = pd.DataFrame([], columns = ['NAME', 'PCODE', 'Date', '선발', '타수', '득점', '안타', '2타', '3타', '홈런', '루타',
       '타점', '도루', '도실', '볼넷', '사구', '고4', '삼진', '병살', '희타', '희비', '투구',
       'barrel', '타율', 'LG', 'KIA', 'KT', '키움', '두산', '한화', 'NC', '롯데', '삼성',
       'SSG', '홈경기수', '원정경기수', '장타', '출루', 'OPS'])

for i in range(1,10):
    d_smogn_longhit = pd.concat([d_smogn_longhit,smogn.smoter(
    
    ## main arguments
    data =d,           ## pandas dataframe
    y = '장타',          ## string ('header name')
    k = i,                    ## positive integer (k < n)
    samp_method = 'extreme',  ## string ('balance' or 'extreme')

    ## phi relevance arguments
    rel_thres = 0.80,         ## positive real number (0 < R < 1)
    rel_method = 'auto',      ## string ('auto' or 'manual')
    rel_xtrm_type = 'high',   ## string ('low' or 'both' or 'high')
    rel_coef = 2.25           ## positive real number (0 < R)
)])
d_smogn_longhit = d_smogn_longhit.drop_duplicates()
d_smogn_longhit = d_smogn_longhit[(d_smogn_longhit.장타 != 0) & (d_smogn_longhit.출루 != 0)& (d_smogn_longhit.OPS != 0)]
d_smogn_longhit = d_smogn_longhit[d_smogn_longhit.타수 >= 30]
d_smogn_longhit

dist_matrix: 100%|#####################################################################| 89/89 [00:05<00:00, 15.21it/s]
synth_matrix: 100%|####################################################################| 89/89 [00:21<00:00,  4.18it/s]
dist_matrix: 100%|#####################################################################| 89/89 [00:05<00:00, 14.90it/s]
synth_matrix: 100%|####################################################################| 89/89 [00:21<00:00,  4.06it/s]
dist_matrix: 100%|#####################################################################| 89/89 [00:06<00:00, 14.59it/s]
synth_matrix: 100%|####################################################################| 89/89 [00:21<00:00,  4.14it/s]
dist_matrix: 100%|#####################################################################| 89/89 [00:05<00:00, 15.21it/s]
synth_matrix: 100%|####################################################################| 89/89 [00:21<00:00,  4.23it/s]
dist_matrix: 100%|#####################################################################| 89/89 [00:05<00:00, 14.92it/s]
synth_matrix: 100%|####################################################################| 89/89 [00:21<00:00,  4.23it/s]
dist_matrix: 100%|#####################################################################| 89/89 [00:05<00:00, 15.31it/s]
synth_matrix: 100%|####################################################################| 89/89 [00:21<00:00,  4.21it/s]
dist_matrix: 100%|#####################################################################| 89/89 [00:05<00:00, 15.12it/s]
synth_matrix: 100%|####################################################################| 89/89 [00:21<00:00,  4.14it/s]
dist_matrix: 100%|#####################################################################| 89/89 [00:05<00:00, 14.92it/s]
synth_matrix: 100%|####################################################################| 89/89 [00:21<00:00,  4.13it/s]
dist_matrix: 100%|#####################################################################| 89/89 [00:05<00:00, 15.14it/s]
synth_matrix: 100%|####################################################################| 89/89 [00:21<00:00,  4.23it/s]

,NAME,PCODE,Date,선발,타수,득점,안타,2타,3타,홈런,...,한화,NC,롯데,삼성,SSG,홈경기수,원정경기수,장타,출루,OPS
220,김형준,66959,2020-08-31,21,72,14,26,3,0,4,...,2.032668,2.019494,1.995133,2.024967,4.994222,10.927749,10.004170,0.824677,0.476164,1.296994
221,김형준,66817,2020-08-31,20,73,14,26,4,0,4,...,1.941241,1.963332,1.943060,2.006623,5.005069,10.930731,10.080136,0.819632,0.467534,1.285269
222,김형준,66867,2020-08-31,20,73,13,26,4,0,3,...,2.020548,1.987140,1.984409,1.983311,5.000362,10.862525,10.003362,0.814714,0.471263,1.288603
223,김형준,67014,2020-08-31,21,73,14,27,4,0,3,...,2.000546,2.040606,2.018774,2.024701,5.009657,10.993300,9.933519,0.818662,0.471546,1.293437
224,김형준,67037,2020-08-31,20,73,13,27,3,0,4,...,2.007919,2.033102,1.973374,2.027709,5.007705,10.984380,9.997907,0.833666,0.469296,1.285536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3647,김형준,64502,2020-08-31,14,43,6,12,2,0,2,...,0.000000,3.021964,1.968252,0.029871,3.056062,9.014937,8.989794,1.500120,0.996685,2.500614
3648,김형준,64533,2020-08-31,14,44,7,12,2,0,1,...,0.024251,3.004252,2.029933,0.036334,3.031868,8.845706,9.076608,1.499181,0.994001,2.497707
3649,김형준,64467,2020-08-31,14,44,6,12,3,0,2,...,0.000000,3.033087,2.037594,0.028505,2.982147,9.100310,8.981137,1.508253,1.001820,2.502399
3650,김형준,64571,2020-08-31,13,43,7,12,3,0,2,...,0.051612,3.013908,1.953882,0.000000,2.989838,9.032195,9.001634,1.508536,1.002962,2.515220
3651,김형준,64459,2020-08-31,13,43,6,13,2,0,1,...,0.000000,3.045535,1.994258,0.010553,3.047189,9.051484,9.018059,1.498294,0.999682,2.506424

In [249]:
d_smogn_base.to_csv('./dataset/baseball_train_base_yj.csv')
d_smogn_longhit.to_csv('./dataset/baseball_train_longhit_yj.csv')